{% extends 'base.html' %}

{% block content %}


    <div class="row">
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel1.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel2.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel3.png') }}">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel1.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel2.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel3.png') }}">
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel1.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel2.png') }}">
      </div>
      <div class="col s12 m4">
        <img class="materialboxed" width="100%" src="{{ url_for('static', filename='hotel3.png') }}">
      </div>
    </div>


{% endblock %}
